{% extends 'templates/layout/layout.html' %}

{% block title %}
    <title>Dashbard | HolaNote</title>
{% endblock %}

{% block body %}

    <!--Section: Block Content-->
    <section class="dashboard-block">
        <!--Grid row-->
        <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
        
                    <p class="text-uppercase small mb-2"><strong>Total Notes</strong></p>
                    <h5 class="font-weight-bold mb-0">
                    $ 4567
                    <small class="text-success ml-2">
                        <i class="fas fa-arrow-up fa-sm pr-1"></i>13,48%</small>
                    </h5>
        
                    <hr>
        
                    <p class="text-uppercase text-muted small mb-2"><strong>Previous period</strong></p>
                    <h5 class="font-weight-bold text-muted mb-0">
                    $ 3467
                    </h5>
        
                </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
            <!-- Card -->
            <div class="card">
                <div class="card-body">
        
                    <p class="text-uppercase small mb-2"><strong>Today Notes</strong></p>
                    <h5 class="font-weight-bold mb-0">
                    534
                    <small class="text-success ml-2">
                        <i class="fas fa-arrow-up fa-sm pr-1"></i>23,58%</small>
                    </h5>
        
                    <hr>
        
                    <p class="text-uppercase text-muted small mb-2"><strong>Previous period</strong></p>
                    <h5 class="font-weight-bold text-muted mb-0">
                    354
                    </h5>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">
    
            <!-- Card -->
            <div class="card">
    
            <div class="card-body">
    
                <p class="text-uppercase small mb-2"><strong>Draft Notes</strong></p>
                <h5 class="font-weight-bold mb-0">
                123
                <small class="text-danger ml-2">
                    <i class="fas fa-arrow-down fa-sm pr-1"></i>23,58%</small>
                </h5>
    
                <hr>
    
                <p class="text-uppercase text-muted small mb-2"><strong>Previous period</strong></p>
                <h5 class="font-weight-bold text-muted mb-0">
                186
                </h5>
    
            </div>
            </div>
            <!-- Card -->
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Block Content-->

{% endblock %}